*{
     margin: 20px;
     padding: 34px;

}

.light {
  background-color: white;
  color: black;
  height: 100vh;
  transition: 0.3s;
}

.dark {
  background-color: black;
  color: white;
  height: 100vh;
  transition: 0.3s;
}

button {

  padding: 10px;
  margin-top: 20px;
}



